a{
    text-decoration: none;
    color: black;
}
header{
    display : flex;
    justify-content: space-between;
    background: rgb(15, 199, 61);
}
.logo{
    display : flex;
    width: 70px;
    height: 70px;
}
ul{
    display : flex;
    gap: 20px;
    list-style-type: none;
}
nav{
    display: flex;
    justify-content:end;
}
div{
    display: flex;
    justify-content: start;
    gap: 10px
}
.login{
    width: 20px;
    height: 20px;
}
.product{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.towar1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border : 10px solid black;
}
.towar2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border : 10px solid black;

}
.meny{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

